/*Targetting everything*/
* {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

/*Targetting the body element*/
body {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-rows: 70px 50px auto auto;
    grid-template-areas:
        ". logo nav ."
        ". header header ."
        ". main main ."
        ". footer footer .";
    background-color: #E4E4D0;
}

/*Targetting the nav element*/
nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    padding-left: 60px;
    border-bottom: 1px solid black;
}

nav li {
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: black;
    padding: 5px 15px;
    font-size: 1.2rem;
}

nav ul a:hover {
    border-bottom: 1px solid black;
}

.thisPage {
    color: orange;
}

.logo {
    grid-area: logo;
    text-align: center;
    line-height: 70px;
    border-bottom: 1px solid black;
}

.logo>h1 {
    display: flex;
    justify-content: end;
    padding-right: 170px;
    font-size: 1.8rem;
    font-family:'Lobster', cursive;
}

/*Targetting the header element*/
header {
    grid-area: header;
}

header h1 {
    text-align: center;
    line-height: 50px;
    font-size: clamp(2rem, 2vw, 2.5rem);
    padding-top: 3rem;

} 

/*Targetting the main element*/
main {
    grid-area: main;
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: auto auto;
    grid-template-areas:
        "box1 box2"
        "box3 box3";
    place-content: center;
    padding: 50px 0 50px 0;
    margin: 30px 0px 40px 0px;
    gap: 20px;
}

.container1 {
    grid-area: box1;
    background-color: #AEC3AE;
    display: flex;
    flex-direction: column;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.7);
}

.container2 {
    grid-area: box2;
    background-color: #AEC3AE;
    display: flex;
    flex-direction: column;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.7);
}

.container3 {
    grid-area: box3;
    background-color: #AEC3AE;
    display: flex;
    flex-direction: row;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.7);
}

.containerHeader {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 5px 10px 10px;
}

.containerText {
    padding: 20px 20px 20px 20px;
}

#navigation {
    height: 200px;
    float: right;
    margin: 20px 15px 20px 20px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
    transform: matrix(1, 0.1, 0, 1, 0, 1);
}

#navigation:hover {
    transform: scale(1.8);
    transform-origin: bottom right;
    transition: transform 0.8s;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7);
}

.images1and3 {
    width: auto;
    padding: 0px 30px 30px 30px;
}

.krav>p:hover {
    background-color:coral;
    border: 0px solid black;
    border-radius: 20px;
    margin: 10px;
}

/*Targetting the footer element*/
footer {
    grid-area: footer;
    display: flex;
    place-content: center;
    margin-bottom: 20px;
}

footer span {
    color: black;
    padding: 10px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/*Media Queries*/
/* Large desktop */
@media screen and (min-width: 1400px) {
    body {
        grid-template-columns: 300px 1fr 1fr 300px;
        grid-template-areas:
            "logo nav nav ."
            "logo header header ."
            ". main main ."
            ". footer footer .";
    }
    .logo {
        border: 0px solid black;
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
    .logo>h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 60px 0px 0px 60px;
        font-size: 3rem;
    }
    nav {
        place-content: center;
        padding-left: 0px;
    }
}


/* Portrait tablet to landscape and desktop */
@media screen and (max-width: 930px) {
    body {
        grid-template-columns: 50px 1fr 1fr 50px;
        grid-template-areas:
            ". logo nav ."
            ". header header ."
            ". main main ."
            ". footer footer .";
    }
    nav {
        padding-left: 0px;
    }
    #navigation {
        width: auto;
        margin: 30px 10px 40px 30px;
    }
    #navigation:hover {
        transform: scale(1.5);
        transform-origin: bottom;
    }
}

/* Landscape phone to portrait tablet */
@media screen and (max-width: 760px) {
    body {
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: 70px 70px 50px auto auto;
        grid-template-areas:
            ". logo ."
            ". nav ."
            ". header ."
            ". main ."
            ". footer .";
    }
    nav {
        place-content: center;
        padding-left: 0px;
    }
    main {
        grid-template-columns: 350px;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "box1"
        "box2"
        "box3";
    }
    .containerText {
        padding: 5px 20px 20px 20px;
    }
    .container3 {
        flex-direction: column;
    }
    #navigation {
        width: auto;
        margin: 30px 10px 40px 30px;
    }
    #navigation:hover {
        transform: scale(1.5);
        transform-origin: bottom;
    }
    .logo {
        border: 0px solid black;
    }
    .logo>h1 {
        display: flex;
        justify-content: center;
        padding-right: 0px;
    }
}

/* Landscape phones and down */
@media screen and (max-width: 460px) {
    body {
        grid-template-columns: 10px 1fr 10px;
        grid-template-rows: 70px 70px 50px auto auto;
        grid-template-areas:
            ". logo ."
            ". nav ."
            ". header ."
            ". main ."
            ". footer .";
    }
    nav {
        flex-direction: column;
        
        padding-left: 0px;
    }
    
    main {
        grid-template-columns: 300px;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "box1"
        "box2"
        "box3";
    }
    .containerText {
        padding: 5px 20px 20px 20px;
    }
    .container3 {
        flex-direction: column;
    }
    #navigation {
        width: auto;
        margin: 30px 10px 40px 30px;
    }
    #navigation:hover {
        transform: scale(1.25);
        transform-origin: top;
    }
}